body {
font-family: arial, sans-serif;
padding: 0;
margin: 0;
}
#header 
{
background-color: black;
/*Opacity start*/
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=80);
-moz-opacity: 0.80;
-khtml-opacity: 0.8;
opacity: 0.8;
/*Opacity end*/
color: white;
top: 0;
left: 0;
width: 100%;
height: 150px;
padding: 0;
margin: 0;
}
#header #header-content 
{
margin: 10px;
}
*
{
	font-family: 'Roboto', sans-serif;
}
nav
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav > ul > li 
{
	float: left;
	position: relative;
	padding: 20px;
}
nav li
{
	list-style-type: none;
}
nav ul li a
{
	color: #FFF;
	text-decoration: none;
}
.hero-text
{
color: white;
background-color:rgba(0, 0, 0, 0.5);
position: absolute;
    top: 57%;
	left: 30%;
	font-size: 35px;
} 
.hero-text2
{
	color: white;
	background-color:rgba(0, 0, 0, 0.5);
	position: absolute;
		top: 67%;
		left: 23%;
		font-size: 35px;	
}
.slide2
{
	position: relative;
	width: 100%;
	height: 50%;
	background-color: #4bcaff;
}
.sous-titre
{
	margin-left: 14%;
	margin-top: 5%;
}
