h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
body {
font-family: roboto, sans-serif;
padding: 0;
margin: 0;

/*  Début Section Header */
}
#header
{
background-color:
#000000
;
/*Opacity start*/
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
-moz-opacity: 0.80;
-khtml-opacity: 0.8;
opacity: 0.8;
/*Opacity end*/
color: white;
top: 0;
left: 0;
width: 100%;
height: 150px;
padding: 0;
margin: 0;
}
#header #header-content
{
margin:0px;
font-family: 'Roboto', sans-serif;
}
header nav
{
display: flex;
justify-content: space-around;
align-items: center;
}
header nav li
{
list-style-type: none;
}
header nav ul li
{
float: left;
position: relative;
padding: 20px;
}
header nav ul li a
{
color:
#FFF;
text-decoration: none;
}
/*  Fin Section Header */

/*  Début Section HeroImage */
#slide
{
position: relative;
}
.hero-text
{
color: white;
background-color:rgba(0, 0, 0, 0.5);
position: absolute;
top: 39%;
left: 30%;
font-size: 35px;
}
.hero-text2
{
color: white;
background-color:rgba(0, 0, 0, 0.5);
position: absolute;
top: 49%;
left: 25%;
font-size: 35px;
}
/*  Fin Section HeroImage */

/*  Début Section Services */
#slide1
{
background-color:
#4BCAFF;
}
.container1
{
position: relative;
margin:0px;
}
.sous-titre1
{
margin-left: 14%;
}
.texte-paragraphe1
{
font-size: 12px;
color: white;
}
.sous-menu1
{
display: flex;
padding: 20px;
margin-left: 13%;
margin-right: 13%;
height: 300px;
font-size: 12px;
color: white;
}
/* Fin Section Services */

/* Début Section Portfolio */
#slide2
{
background-color:
#FFF;
color: black;
}
.container2 nav span
{
position: relative;
}
.sous-titre2
{
color:black;
font-size: 20px;
margin-left: 13%;
}
.container2 nav ul 
{
display: flex;
justify-content: space-around;
align-items: start;
width: 30%;
margin-left: 55%;

}
.container2 nav ul li 
{
list-style-type: none;
}
.container2 nav li a
{
text-decoration: none;
}

/* Fin Section Portfolio */